body {
    font-family: monospace;
}
#players,
#events{
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 600px;
}
#players h1 {
    margin: 20px 0 10px 0;
}
#players li > div {
    border: 1px solid #3ec11f;
    margin-bottom: 1px;
    background: #fefefe;
}
#players li > div > div {
    background: #7aff3c;
    padding: 4px;
}